[submodule "Extras"]
	path = Extras
	url = https://github.com/hmphus/there-edge-extras
[submodule "UnityDoorstop-BSIPA"]
	path = UnityDoorstop-BSIPA
	url = https://github.com/nike4613/UnityDoorstop-BSIPA
